
html
{
	/*min-width:1366px;
	*/
	
}

/*Importation de la police de caractère*/
@font-face
{
	font-family: 'Viking';
	src: url('ressources/viking.otf');
	
}

/*Règles pour le body*/
body
{
	width:90%;
	margin:75px auto 0 auto;
	background-image:url(ressources/fondsBody2.jpg);
	/*Background en briques grises*/
	background-attachment: fixed;
	font-family:'Viking', Arial, Serif;
	/*Choix de la police de caractère*/
	font-size:15px;
	/*taille de la police de caractère*/
	
}

/*Règles pour le header et le footer*/
header, footer
{
	text-align:center;
	width:100%;
	border:5px solid #351D0B;
	border-radius:5px;
	
}

/*Règles pour le cadre principal de la page*/
section
{
	background-image:url(ressources/fondsSection.jpg);
	/*Fonds style planche de bois*/
	border:5px solid #351D0B;
	box-shadow:0px 0px 10px black;
	border-radius:15px;
	padding:30px 20px;
	margin:20px 0px;
	
}

/*Règles pour chaque vignette de dieux*/
article
{
	background-image:url('../ressources/images/vieux-papier.jpg');
	border: 2px solid black;
	border-radius:15px;
	box-shadow:0px 0px 10px black;
	overflow:hidden;
	transition : all 2s ease-in;
	width:200px;
	height:200px;
	color:black;
	padding:0 0 0 0;
	margin: 30px 30px 30px 30px;
	display:inline-block;
	position:relative;
	background-color:white;
	
}

img
{
	vertical-align: bottom;
	
}

header img, footer img
{
	width:100%;
	
}

/* La banniere fait 100%*/
article:hover .des
{
	background-color:rgba(50,50,50,0.6);
	height:93%;
	width:100%;
	padding:7.5% 0 0 0;
	
}

/*fiche descriptive pour chaque vignette*/
.des:hover, .des:hover a
{
	color:rgba(255,255,255,1);
	
}

.des a
{
	color:rgba(0,0,0,0);
	
}

.des
{
	width:100%;
	height:0px;
	vertical-align:top;
	bottom:0px;
	display:inline;
	position:absolute;
	transition-property:background-color,height,color;
	transition-duration:0.5s;
	overflow:hidden;
	color:rgba(0,0,0,0);
	z-index:9;
	
}

.titreMyth
{
	font-weight:bold;
	text-decoration:underline;
	font-size:2rem;
	
}

#photo
{
	border: 5px solid black;
	
}
