
body
{
	width:90%;
	margin:75px auto 0 auto;
	color:black
}

/*Règles pour chaque article*/
article
{
	padding:10px;
	margin:10px;
	color:black;
	
}

/*Règles pour le cadre court historique*/
.historiqueD
{
	width: 70%;
	
}

/*Disposition en deux colonnes à gauche la description du dieu et à droite les avant. inconv. et anecdote*/
.gauche , .droite
{
	display:table-cell;
	vertical-align:top;
	
}

/*Règles pour la colonne de gauche*/
.gauche article
{
	width:95%;
	height : auto;
	
}

/*Règles pour la colonne de droite*/
.droite article
{
	width:90%;
	height : auto;
	
}

/*Règles pour le bouton 'en savoir plus sur ce dieu'*/
article a
{
	color:black;
	text-decoration:none;
}

article a, article form 
{
	text-align:center;
}

/*Règles pour les commentaires, disposition en colonnes*/
.commentaire
{
	display:table-cell;
	font-style:italic;
	border:2px solid black;
	border-radius:5px;
	box-shadow: 0px 0px 5px black;
	padding: 10px;
	
}

/*Règles pour l'image du dieu*/
#photo
{
	vertical-align: top;
	border-radius:100%;
	transition : all 0.5s ease;
	
}
/*La photo s'agrandit au survol*/
#photo:hover
{
	transform: scale(1.1);
	
}
