
header,section,footer
{
	border:0px;
	
}

body
{
	font-family: Arial, sans-serif;
	color:#800000;
	background-image : url(ressources/images/vieux-papier.jpg);
	background-size:cover;
	
}

#page
{
	width: 45rem;
	margin: 0px auto;
	
}

input
{
	width:25%;
	
}

.gche label
{
	float: left;
	width: 35%;
	text-align:right;
	margin:0;
	padding:0.5em 0 0;
	
}

.effet input
{
	width:auto;
	
}

.gche label
{
	padding-right:0.5em;
	
}

header, footer
{
	border:1px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	overflow: hidden;
	
}
