/*style général*/
body{
background-image: url('ressources/images/vieux-papier.jpg');
background-size:cover;
}

section{
	background-color:rgba(200,200,200,0.5);
	border-radius:10px;
	border:2px solid #333;
	box-shadow:2px 2px 10px #333;
}
article{
	border:2px solid black;
	border-radius:10px;
	background-color:white;
	display: inline-block;
	width:30%;
	height: 150px;
	overflow: auto;
	margin:1%;

}
/*bannière et bas de page*/
header, footer
{
	border:1px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	overflow: hidden;
}

/*Disposition en colonnes de tableau*/
.personne, .message{
	
	display: table-cell;
	padding : 5px 5px 5px 5px;
}

/*les infos de la personne sont dans la colonne de gauche*/
.personne{
	width:20%;
	text-align: center;
	vertical-align: middle;		
	font-weight: bold;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
}
/*le contenu du message se trouve dans la colonne de droite*/
.message{
	width:75%;
	text-align: justify;
}