/*style général*/
body
{
	background-image: url(ressources/images/vieux-papier.jpg);
	background-attachment: fixed;
	background-size:cover;
	
}

header, footer
{
	border:1px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	overflow: hidden;
	
}


section
{
	background-color:rgba(200,200,200,0.5);
	border-radius:10px;
	border:2px solid #333;
	box-shadow:2px 2px 10px #333;
}

article
{
	border-radius: 5px;
	margin : 0 0 50px 0;
	overflow: hidden;
	
}

p
{
	margin: 15px 15px 15px 15px;
	
}

#flecheRemonter
{
	position:fixed;
	top:50%;
	left:5px;
	
}

/*le lecteur audio prend toute la largeur de l'article*/
audio
{
	width:100%;
	
}

/*Règles pour la musique folk*/
#korpi
{
	background-image: url(ressources/images/korp.jpg);
	color:white;
	
}

/*Règles pour la musique Pat Sébastien*/
#patoch
{
	background-color: black;
	color: white;
	
}

#patoch img
{
	width: 100%;
	
}

/*Règles pour la musique départements*/
#croso
{
	background-image: url(ressources/images/vieux-papier.jpg);	
}

#croso img
{
	width:100%;
	
}

/*Règles pour la musique métal*/
#metal
{
	background-color: black;
	color: white;
	
}

/*Règles pour la musique pour enfants*/
#comptines
{
	background-color: white;
	text-align:center;
	
}

#comptines p
{
	text-align:left;
	
}

/*Règles pour la musique rap*/
#rap
{
	background-image:url(ressources/images/vieux-papier.jpg);
	text-align:center;
	
}

#rap img
{
	width : 100%;
	
}
