iframe
{
	border:0px;
}

article
{
	font-size : 25px;
	color : white;
	height: 50px;
	overflow:hidden;
	padding:20px 20px 20px 20px;
	margin: 30px auto 30px auto;
	background-image : url('ressources/images/fondecran.jpg');
	transition-property:height;
	transition-duration:1.5s;
	border:2px solid black;
	
}

article.Armageddon:hover
{
	/* réglage de l'article Armageddon*/
	height:300px;
	transition-duration:1.5s;
	
}

article.festif:hover
{
	/* réglage de l'article festif*/
	height:400px;
	transition-duration:1.5s;
	
}

article.lowcost:hover
{
	/* réglage de l'article lowcost*/
	height:300px;
	transition-duration:1.5s;
	
}

article.alcoolique:hover
{
	/* réglage de l'article alcoolique*/
	height:400px;
	transition-duration:1.5s;
	
}

body
{
	background-image : url('ressources/images/vieux-papier.jpg');
	/* réglage du fond d'écran du site*/
	background-attachment:fixed;
	background-size:cover;
	
}

section
{
	background-color:rgba(200,200,200,0.5);
	border-radius:10px;
	border:2px solid #333;
	box-shadow:2px 2px 10px #333;
	background-attachment:fixed;
	padding:5px;
	
}

header, footer /* réglage du border autour de l'entête et du pied de page*/

{
	border:1px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	overflow: hidden;
	
}

.neith
{
	/* réglage de la photo : promotions*/
	text-align:center ;
	border-radius: 10px;
	width:100%;
	
}

.h1
{
	/*titre dans les article*/
	font-size : 21px;
	
}
