
@font-face
{
	font-family: 'aze';
	src: url(ressources/ClarendonTLig.ttf);
	
}

section
{
	background-image:url(ressources/fond2.jpg);
	border:2px grey solid;
	border-radius:10px;
	box-shadow:1px 1px 10px 5px #222;
	
}

header, footer
{
	border:0px;
	
}

section header img
{
	border-radius:10px;
	
}

article
{
	border-radius:5px;
	padding:0 0 0 0;
	margin: 10px 10px 10px 10px;
	display:inline-block;
	position:relative;
	background-color:white;
	
}

aside
{
	padding:0 0 0 0;
	margin: 10px 10px 10px 10px;
	float:right;
	
}
