@font-face {
font-family: 'policeGene';
src: url('ressources/polices/policeGene.ttf'); /*Police général sur le site*/
}

body{
font-family: 'policeGene';
font-size:1.1rem;
width:90%;
margin:4vw auto 10px auto; /*Margin adpatatif pour compatibilité avec le menu*/
}

header{
text-align:center;
width:100%;
}

section{ /* Permet d'avoir un espace entre le bord et le texte*/
padding:30px 20px;
margin:20px 0px;
}

footer{
width:100%;
}

header img, footer img{width:100%;} /* La banniere et le footer font 100%*/

img{vertical-align: bottom;}

.titreMyth{
font-weight:bold;
text-decoration:underline;
font-size:2rem;
}

#flecheRemonter{
position:fixed;
top:50%;
left:5px;
height:30%;
}

.commander input{ /*Bouton commander*/
font-size:1.1rem;
font-family:'policeGene',Verdana;
border:0px;
transition-duration:0.5s;
}

.commander input:hover{
color:red;
transform:scale(1.5);
background-color:rgba(0,0,0,0);
text-shadow:1px 0px 1px white;
}