body{
background-image: url('ressources/images/vieux-papier.jpg');	
background-attachment:fixed;
background-size:cover;
}


section{ /*effet verre*/
background-color:rgba(200,200,200,0.5);
border-radius:10px;
border:2px solid #333;
box-shadow:2px 2px 10px #333;
background-attachment:fixed;
padding:5px;
}


article{ /*mise en forme*/
margin: 30px auto 30px auto;
border:3px grey solid;
box-shadow:2px 2px 10px #333;
background-color:white;
}

div, article, article{border-radius:10px;} /*touts les bords sont arrondis*/
article img{/*L'image fait 100%*/
width: 100%;
}

div{
height:140px; /*De base le cadre fait 140px de hauteur*/
overflow:hidden;
}

header, footer /**/
{
border:1px solid black;
border-radius: 10px;/*arrondis les bors*/
box-shadow: 0px 0px 10px black; /*ombre*/
overflow: hidden; /*arrondis les bords*/
}