body{
background-image: url('ressources/images/vieux-papier.jpg');	
background-size:cover;
background-attachment:fixed;
}

img{border-radius:10px;} /*Les images ont les bords arrondis*/

.gauche{ /*Partie sur la gauche*/
width:60%;
display:inline-block;
margin-right:2rem;
}

article{ 
border:3px grey solid;
border-radius:10px;
box-shadow:2px 2px 10px #333;
background-color:white;
padding:5px;
}

aside{ /*Partie sur la droite*/
display:inline-block;
padding:5px;
border-radius:10px;
border:3px grey solid;
vertical-align:top;
width:28%;
box-shadow:2px 2px 10px #333;
}

section{ /*Corps de la pagge avec un effet verre*/
background-color:rgba(200,200,200,0.5);
border-radius:10px;
border:2px solid #333;
box-shadow:2px 2px 10px #333;
background-attachment:fixed;
padding:5px;
}

#informations{
margin:50px auto;
}

#informations h1{
text-decoration:underline;
color:red;
}

.info{
background-color:white;
padding:0 10px 10px 10px;
border:3px solid black;
border-radius:10px 10px 10px;
margin-bottom:10px;
}

.info p{
margin-top:5px;
text-decoration:underline;
}

.info:last-child{ /*Enleve le aside dans la div info pour que ce soit plus jolie*/
margin:0 0 0 0;
}