body{
background-image: url('ressources/images/vieux-papier.jpg');	
background-size:cover;
background-attachment:fixed;
}

img{
border-radius:10px;/*Les images ont les bords arrondis*/
} 

article{ 
border:3px grey solid;
border-radius:10px;
width:50%;
box-shadow:2px 2px 10px #333;
background-color:white;
padding:5px;
margin:auto;
text-align:center;
}

article img{width:100%;} /*l'image s'adapte*/

#section{ /*Corps de la pagge avec un effet verre*/
background-color:rgba(200,200,200,0.5);
border-radius:10px;
border:2px solid #333;
box-shadow:2px 2px 10px #333;
background-attachment:fixed;
padding:5px;
}


