/*style général*/
body
{
	background-image: url(ressources/images/vieux-papier.jpg);
	background-attachment: fixed;
	background-size:cover;
	
}

header, footer
{
	border:1px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	overflow: hidden;
	
}

section
{
	background-color: rgba(200,200,200,0.5);
	border:5px solid rgba(200,200,200,0.5);
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	
}

/*Règles pour chaque fête*/
.fete
{
	border:3px solid grey;
	border-radius: 5px;
	margin:10px;
	overflow:hidden;
	height:70px;
	transition: all 1s;
	
}
/*Ouverture du panneau au survol*/
.fete:hover
{
	height:250px;
	
}

/*Règles pour les titres de chaque fête*/
.titre
{
	display:block;
	width:100%;
	padding:20px;
	text-align:center;
	font-size: 30px;
	
}

/*Règles pour chaque fête, traitées independemment*/
#anniv
{
	background-image: url(ressources/images/feteAnniv.jpg);
	
}

#etudiantes
{
	background-image: url(ressources/images/feteEtu.jpg);
	color:white;
	
}

#mariages
{
	background-image: url(ressources/images/feteMariage.jpg);
	
}

#humanitaires
{
	background-image: url(ressources/images/vieux-papier.jpg);
	
}

#conventions
{
	background-image:url(ressources/images/feteConv.jpg);
	color:white;
	
}

/*Règles pour la description des fêtes*/
.description
{
	background-color: rgba(200,200,200,0.5);
	display:inline-block;
	width:60%;
	margin:0 0 0 0;
	
}

/*Règles pour le contenu des packs*/
.package
{
	background-color: rgba(200,200,200,0.5);
	display:inline-block;
	width:39%;
	vertical-align:top;
	margin:0 0 0 0;
	
}

