
body
{
	width:90%;
	margin:75px auto 0 auto;
	
}

header
{
	margin:auto 50px auto 50px;
	text-align:center;
	border:3px solid red;
	
}

section
{
	border:3px solid blue;
	padding:30px 30px 30px 30px;
	margin:20px 0px;
	
}

article
{
	border:3px solid orange;
	display: inline-block;
	padding:10px;
	margin:10px;
	text-align:justify;
	
}

footer
{
	margin:auto 50px auto 50px;
	text-align:center;
	border:3px solid orange;
	
}

.historiqueD
{
	width: 80%;
	
}

.gauche , .droite
{
	display:table-cell;
	vertical-align:top;
	
}

.gauche article
{
	width:95%;
	
}

.droite article
{
	width:90%;
	
}

a article
{
	text-align:center;
	
}

.commentaire
{
	display:table-cell;
	font-style:italic;
	border:2px solid black;
	padding: 10px;
	
}

#photo
{
	border:3px solid green;
	width: 150px;
	vertical-align: top;
	border-radius:100%;
	transition : all 1s ease;
	
}

#photo:hover
{
	transform: scale(1.1);
	
}

