
header
{
	text-align:center;
	width:100%;
	
}

section
{
	background-color: rgba(200,200,200,0.5);
	border:5px solid rgba(200,200,200,0.5);
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	
}

article
{
	color:black;
	border:5px solid black;
	border-radius:100%;
	padding:0 0 0 0;
	margin: 30px 30px 30px 30px;
	display:inline-block;
	position:relative;
	background-color:white;
	
}

article:hover h4
{
	background-color:rgba(50,50,50,0.6);
	height:100%;
	width:100%;
	padding:0 0 0 0 ;
	color:rgba(0,0,0,1);
	
}

#image
{
	border-radius: 100%;
	
}

h4
{
	width:0px;
	height:0px;
	vertical-align:top;
	top:-23px;
	display:inline;
	position:absolute;
	transition-property:background-color,width,color;
	transition-duration:0.5s;
	overflow:hidden;
	color:rgba(0,0,0,0);
	border-radius: 100%;
	text-align:center;
	
}

article:hover #a
{
	background-color:rgba(50,50,50,0.6);
	height:90%;
	width:100%;
	padding:7.5% 0 0 0;
	
}

footer
{
	border:3px solid orange;
	width:100%;
	
}

header img, footer img
{
	width:100%;
	
}

/* La banniere fait 100%*/
img
{
	vertical-align: bottom;
	
}

body
{
	background-image: url(ressources/images/vieux-papier.jpg);
	background-attachment: fixed;
	width:90%;
	margin:75px auto 0 auto;
	
}

header, footer
{
	border:1px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	overflow: hidden;
	
}

section
{
	background-color: rgba(200,200,200,0.5);
	border:5px solid rgba(200,200,200,0.5);
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	padding:30px 30px 30px 30px;
	margin:20px 0px;
	
}

article
{
	border-radius: 100%;
	margin : 0 0 50px 0;
	overflow: hidden;
	
}

p
{
	margin: 15px 15px 15px 15px;
	
}
