body
{
	background-image: url(ressources/images/vieux-papier.jpg);
	background-attachment: fixed;
}

header, footer
{
	border:1px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	overflow: hidden;
}

section
{
	background-color: rgba(200,200,200,0.5);
	border:5px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;

}
#section {border-color : black;}
article
{
	border-radius: 5px;
	margin : 0 0 50px 0;
	overflow: hidden;
}

p
{
	margin: 15px 15px 15px 15px;
}
