
body
{
	background-image: url(ressources/images/vieux-papier.jpg);
	background-attachment:fixed;
	background-size:cover;
	font-family: 'policeGene';
	font-size: 2rem;
	width:90%;
	margin:75px auto 0 auto;
	
}

#infos
{
	line-height:60px;
	
}

section
{
	background-color:rgba(200,200,200,0.5);
	border-radius:10px;
	border:2px solid #333;
	box-shadow:2px 2px 10px #333;
	background-attachment:fixed;
	padding:5px;
	
}

@font-face
{
	font-family: 'policeGene';
	src: url('ressources/polices/policeGene.ttf');
	
}

header
{
	text-align:center;
	width:100%;
	
}

section
{
	padding:30px 20px;
	margin:20px 0px;
	
}

header, footer
{
	border:1px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	overflow: hidden;
	
}
