@font-face { /*Police utilisé dans egypte*/
font-family: 'aze';
src: url(ressources/ClarendonTLig.ttf);
}

body{ 
background-image:url(ressources/fondRed.jpg);
background-attachment:fixed;	
background-size:cover;
font-family:'aze', Arial, Serif;
}

section{
background-image:url(ressources/fond2.jpg);
border:2px grey solid;
border-radius:10px;
box-shadow:1px 1px 10px 5px #222;
}

section header img{border-radius:10px;} /*Image arrondi*/

article{ /*Chaque article/image fait 200 par 200 et se placent les uns à cote des autres*/
width:200px;
height:200px;
color:black;
border:5px solid black;
border-radius:5px;
padding:0 0 0 0;
margin: 30px 30px 30px 30px;
display:inline-block;
position:relative;
background-color:white;
}

article img{
width:200px;
height:200px;
}

article:hover .des{ /*Animation du voile*/
background-color:rgba(50,50,50,0.6);
height:93%;
width:100%;
padding:7.5% 0 0 0;
}
.des:hover, .des:hover a{ /*Le texte apparait en blanc*/
color:rgba(255,255,255,1);
}

img{vertical-align: bottom;}

.des a{color:rgba(0,0,0,0);}

.des{ /*le voile va de en haut à droite à en bas à gauche */
width:0px;
height:0px;
vertical-align:top;
top:0px;
right:0px;
display:inline;
position:absolute;
transition-property:background-color,width,height,color;
transition-duration:0.5s;
overflow:hidden;
color:rgba(0,0,0,0);
}