body{
width:90%;
margin:75px auto 0 auto;
}

header{ /*Decolle la banniere*/
text-align:center;
}

section{
padding:30px 30px 30px 30px;
margin:20px 0px;
}

article{ /*Chaque article ce place l'un a coté de l'autre et reagi avec les autres*/
border:1px solid rgba(200,0,0,0.5);
box-shadow:5px 5px 13px rgba(255,0,0,0.5);
border-radius:10px;
display: inline-block;
padding:5px;
margin:10px;
text-align:justify;
color:white;
width:auto;
height:auto;
background-image:url(ressources/papy.jpg); /*image de fond effet papyrus*/
}

.historiqueD{
width: 80%;
}

.gauche , .droite{ /*Les éléments se placant les un à coté des autres*/
display:table-cell;
vertical-align:top;
}
.gauche article{
width:95%;
}

.droite article{
width:90%;
}

article a{
color:white;
text-decoration:none;
}

article a, article form {
text-align:center;
}

.commentaire{ /*Les commentaires sont alignés*/
display:table-cell;
font-style:italic;
border:2px solid black;
padding: 10px;
}

#photo{ /*La photo s'agrandit*/
width: 150px;
vertical-align: top;
border-radius:100%;
transition : all 1s ease;
}

#photo:hover{
transform: scale(1.1);
}

