body{
width:90%;
margin:75px auto 0 auto;
}

section{
border:2px grey solid;
border-radius:10px;
box-shadow:1px 1px 10px 5px #222;
background-image:url(ressources/images/pattern.jpg);
padding:30px 30px 30px 30px;
margin:20px 0px;
}

article{
border:3px solid white;
display: inline-block;
padding:10px;
margin:10px;
text-align:justify;
width:auto;
height:auto;
}

.historiqueD{
width: 80%;
background-color:white;
border:2px grey solid;
border-radius:10px;
box-shadow:1px 1px 10px 5px #222;
}

.gauche , .droite{ /*Les élements se placent les un à côtés des autres*/
display:table-cell;
vertical-align:top;
}

.gauche article{
width:95%;
background-color:white;
border:2px grey solid;
border-radius:10px;
box-shadow:1px 1px 10px 5px #222;
}

.droite article{
width:90%;
background-color:white;
border:2px grey solid;
border-radius:10px;
box-shadow:1px 1px 10px 5px #222;
}

article a{
color:black;
text-decoration:none;
}

article a, article form {
text-align:center;
}

.commentaire{
display:table-cell;
font-style:italic;
border:2px solid black;
padding: 10px;
}

#photo{ /*L'agrandissement de la photo*/
border-radius:10px;
box-shadow:1px 1px 10px 5px #222;
width: 150px;
vertical-align: top;
border-radius:100%;
}

#photo:hover{
transform: scale(1.1);
}