body{
background-image:url(ressources/images/2.png);
background-attachment:fixed;	
font-family:'aze', Arial, Serif;
}

section{
background-image:url(ressources/images/pattern.jpg);
border:2px grey solid;
border-radius:10px;
box-shadow:1px 1px 10px 5px #222;
}

header, footer{border:0px;}
section header img{border-radius:10px;}/*Image arrondi*/

article{ /*Toutes mes imgages sont 200 fois 200*/
width:200px;
height:200px;
color:black;
border:2px grey solid;
border-radius:10px;
box-shadow:1px 1px 10px 5px #222;
padding:0 0 0 0;
margin: 30px 30px 30px 30px;
display:inline-block;
position:relative;
background-color:white;
}

article img{
width:200px;
height:200px;
}

article:hover .des{
background-color:rgba(50,50,50,0.6);
height:93%;
width:100%;
padding:7.5% 0 0 0;
}
.des:hover, .des:hover a{ /*Le texte blanc pour l'explication*/
color:rgba(255,255,255,1);
}

img{vertical-align: bottom;}

.des a{color:rgba(0,0,0,0);}

.des{
width:0px;
height:0px;
vertical-align:top;
top:0px;
right:0px;
display:inline;
position:absolute;
transition-property:background-color,width,height,color;
transition-duration:0.5s;
overflow:hidden;
color:rgba(0,0,0,0);
}
