body{
width:90%;
margin:75px auto 0 auto;
color:black
}

article{
padding:10px;
margin:10px;
color:black;
}

.historiqueD{
width: 70%;
}

.gauche , .droite{ /*Les élements se placent les un à côtés des autres*/
display:table-cell;
vertical-align:top;
}

.gauche article{
width:95%;
height : auto;
}

.droite article{
width:90%;
height : auto;
}

article a{
color:black;
text-decoration:none;
}
article a, article form {
text-align:center;
}

.commentaire{
display:table-cell;
font-style:italic;
border:2px solid black;
border-radius:5px;
box-shadow: 0px 0px 5px black;
padding: 10px;
}

#photo{
vertical-align: top;
border-radius:100%;
transition : all 0.5s ease;
}

#photo:hover{ /*La photo de profil grossi*/
transform: scale(1.1);
}
