@font-face {
font-family: 'aze';
src: url('ressources/DIOGENES.ttf'); /*Police utilisée sur les pages de la mythologie grecque*/
}

body{
background-image:url(ressources/fond.jpg); /*Background de la page + definition des polices*/
background-attachment:fixed;	
background-repeat:no-repeat;
background-size:cover;
font-family:'aze', Arial, Serif;
}

section{
background-image:url(ressources/fond2.jpg);
border:2px grey solid;
border-radius:10px;
box-shadow:1px 1px 10px 5px #222;
}

section header img{border-radius:10px;} /*Permet d'arrondir le bord des images*/

article{ /*Chaque image fait 200 par 200 et se place les uns à côté des autres*/
width:200px;
height:200px;
color:black;
border:5px solid black;
border-radius:5px;
padding:0 0 0 0;
margin: 30px 30px 30px 30px;
display:inline-block;
position:relative;
background-color:white;
}

article img{ /*Les images font obligatoirement 200 par 200*/
width:200px;
height:200px;
}

article:hover .des{ /*Animation du voile du haut vers le bas*/
background-color:rgba(50,50,50,0.6);
height:93%;
padding:7.5% 0 0 0;
}
.des:hover, .des:hover a{ /*Appartion du texte en blanc*/
color:rgba(255,255,255,1);
}

img{vertical-align: bottom;}

.des a{color:rgba(0,0,0,0);}

.des{
width:100%;
height:1px;
vertical-align:top;
top:0px;
display:inline;
position:absolute;
transition-property:background-color,width,height,color;
transition-duration:0.5s;
overflow:hidden;
color:rgba(0,0,0,0);
}